body {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #101010;
    color: #ffffff;
    font-family: sans-serif;
}

header {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #333333;
}

.small {
    font-size: 0.85em;
}

a {
    color: #aa7aff;
}

@media screen and (max-width: 720px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }

    h1, h2 {
        text-align: center;
    }
}
